In [ ]:
print("Hello world")

Hello world

In [ ]:
print("Tanish Garg")

Tanish Garg

In [ ]:
#variables:container(store values)
firstname = "Tanish" #string
lastname="Garg" #string
subject = "SOL"
age= 20 #int
weight= 67.5 #float
num = -12
n1= -12.90

In [ ]:
print(firstname)
print(lastname)
print(age)
print(weight)
print(num)
#another way of printing
print(firstname, lastname, age, weight, num)

Tanish
Garg
20
67.5
-12
Tanish Garg 20 67.5 -12

In [ ]:
#datatypes
ismarried = False #Boolean - store True or False . True or False are 1 and o
print(ismarried)
ismarried = 0
print(ismarried)

False
False

In [ ]:
type(firstname)# str stands for string
type(age)
type(weight)
type(num)
type(ismarried)
type(n1)

float

In [ ]:
# Tanish Garg fav subject is SQL : Concatenation
# print: Tanish Garg is 20 years old and his weight is 67.5 and his fav number is -12 and is he married: False
print(firstname+" "+lastname + " fav subject is " + subject)
print(firstname + " "+ lastname + " is "+ str(age) + " years old and his weight is "+str(weight) + " and his fav number is "+ str(num)+ " and is he married: "+ str(ismarried))

Tanish Garg fav subject is SOL
Tanish Garg is 20 years old and his weight is 67.5 and his fav number is -12 and is he married: 0

In [ ]:
#type conversion

In [ ]:
isbool = 'True'
isit = bool(isbool)
type(isit)

bool

In [ ]:
x="Tanish"
x=bool(x)
type(x)
print(x)

True

In [ ]:
weight1= '70.9'
weight1 = float(weight1)
type(weight1)

float

In [ ]:
num1= 12
num1 = float(num1)
type(num1)
print(num1)

12.0

In [ ]:
weight1=int(weight1)
print(weight1)

70

In [ ]:
x=10,20,30,40,50
print(x)

(10, 20, 30, 40, 50)

In [ ]:
x=y=z=100
print(x,y,z)

100 100 100

In [ ]:
x,y,z,a,b,c='A','B','c','D','E','F'
print(x,y,z,a,b,c)# order must be considered

A B c D E F

In [ ]:
##Day-2

In [ ]:
#OPERATORS
#few variables : asign values to them and will start with arithmetic operators: +.-,*,/,**,%,//

In [ ]:
x=10
y=20
z=2

In [ ]:
print(x+y+z)
x-y

32

-10

In [ ]:
print(x*y*z)
print(x/y)
y/x

400
0.5

2.0

In [ ]:
#power or exponent symbol and modulo  : x=10 and z=2
x**z

100

In [ ]:
u=3
z**u

8

In [ ]:
#modulo :9/2 Remainder:
a=17
b=4
a%b

1

In [ ]:
a=225
b=5
a%b

0

In [ ]:
10//4 # //floor division operator: a//b

2

In [ ]:
a//b

4

In [ ]:
#Comparsion Operator
# thse arfe used to compare two values

In [ ]:
a=17
b=7
print(a>b,a<b,a==b, a<=b,a>=b, a!=b)

True False False False True True

In [ ]:
a=17
b=17
a==b

True

In [ ]:
a!=b

True

In [ ]:
a=9
b=90
print(a>b,a<b,a==b, a<=b,a>=b, a!=b)

False True False True False True

In [ ]:
firstname = "Tanish"
lastname = "Garg"
print(firstname == lastname, firstname>lastname, firstname<lastname, firstname>=lastname, firstname<=lastname, firstname!=lastname)

False True False True False True

In [ ]:
#Logical operators : and , not, or

In [ ]:
2>1 and 1<2 #: true and true- true
2>1 and 3<2 #;true and false - false
3<2 and 1<2 #: false and true- false
3<2 and 2<1 #:false and false- false

False

In [ ]:
#or operator
2>1 or 3>2     #: true or true - true
3>2 or 2<1     #: true or false- true
2<1 or 3>2      #: false or true- true
2<1 or 10>14    #:false or false- false

False

In [ ]:
#not operator#: true- false
#: false - true
not(2<1 or 10>14 )

True

In [ ]:
age= 18
age>23

False

In [ ]:
not(age>23)

True

In [ ]:
# project-1
x=10
y=20
z=30
print(x,y,z)

10 20 30

In [ ]:
x>=y and (not(y<=z)) #: false and not (true) : false and false- false

False

In [ ]:
(not(x>=y)) or  (not(y<=z))# : not(false) or not(true) : true or false - true

True

In [ ]:
not((not(x>=y)) or  (not(y<=z)))# : not(not(false) or not(true)) :not (true or false) - not(true)

False

In [ ]:
not((not(x>=y)) or (x!=y) and (not(y<=z)))# order of precedence : not and or

False

In [ ]:
#Day-3

In [ ]:
#list : thing that is used to store values. They are used to store multiple values
#syntax list_name = []
#List are ordered, changeable- and allow duplicate values

In [ ]:
marks =[100,23,34,45,65,43,25,56,65,90]
print(marks)
type(marks)

[100, 23, 34, 45, 65, 43, 25, 56, 65, 90]

list

In [ ]:
print(marks[4])
# print last students marks , 1st students marks and 7 th student marks
print(marks[0])
print(marks[6])
print(marks[9])
print(marks[-1], marks[-10], marks[-4])

65
100
25
90
90 100 25

In [ ]:
age = [12,23,21,23,54,47,54,12,"Tanish"," Garg", True]
len(age)
print(age[-1])

True

In [ ]:
#more functions with list
#length functions: find length of list: len()
len(marks)

10

In [ ]:
x=9
type (x)

int

In [ ]:
# find marks of student 4 to student 10
print(marks[3:10])

[45, 65, 43, 25, 56, 65, 90]

In [ ]:
print(marks[-7:])

[45, 65, 43, 25, 56, 65, 90]

In [ ]:
# last index, 5th index and first index change values

In [ ]:
marks2 =[100,23,34,45,65,43,25,56,65,90]
print(marks2)

[100, 23, 34, 45, 65, 43, 25, 56, 65, 90]

In [ ]:
marks2[0]=23
marks2[4]=99
marks2[-1]=70
print(marks2)

[23, 23, 34, 45, 99, 43, 25, 56, 65, 70]

In [ ]:
marks2[2:9]=[100,99,98,97,96]
marks2

[23, 23, 100, 99, 98, 97, 96, 70]

In [ ]:
marks2[2:9]=[1,2,3,4,5,6,7]
marks2

[23, 23, 1, 2, 3, 4, 5, 6, 7]

In [ ]:
marks2[2:9]=[1,2,3,4,5,6,7,8,9]
marks2

[23, 23, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#insert method : add the element to the list before the specified index
marks2.insert(2,98)
marks2
len(marks2)
#to print at last position-- because 20 index position is not available so it will add to last in list using insert method
marks2.insert(20,40)

16

In [ ]:
marks2.insert(16,89)
marks2

[23, 23, 98, 98, 98, 98, 1, 2, 3, 4, 5, 6, 7, 8, 89, 9, 89]

In [ ]:
#append function: add items to the end of the list
mar = [1,2,3,4,5]
mar.append(40)
mar

[1, 2, 3, 4, 5, 40]

In [ ]:
#extend : it will append elements from ypur other list to your present list
y=[90,80,70]
mar.extend(y)
mar

[1, 2, 3, 4, 5, 40, 90, 80, 70]

In [ ]:
y.extend(mar)
y

[90, 80, 70, 1, 2, 3, 4, 5, 40, 90, 80, 70, 1, 2, 3, 4, 5, 40, 90, 80, 70]

In [ ]:
#day-4

In [ ]:
m=[10,20,30,40,50,60,70,80,90]

In [ ]:
m.pop(1)

20

In [ ]:
print(m)

[10, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
m.remove(70)

In [ ]:
print(m)

[10, 30, 40, 50, 60, 80, 90]

In [ ]:
#clear(): this removes everything from the list
m.clear()

In [ ]:
print(m)

[]

In [ ]:
#loop - small concept here in detail we will go further
l=[10,20,30,40,50]
for i in l:
  print(i)

10
20
30
40
50

In [ ]:
for i in l:
  print(i+10)
  print(i*100)

20
1000
30
2000
40
3000
50
4000
60
5000

In [ ]:
#conditional statement
a=1000
b=200

In [ ]:
if a>b:
  print("a is greater than b")

a is greater than b

In [ ]:
for i in l:# identation matters a lot in python and if identation is not correct code will not work
  if len(l)>5:
    print(i*20)
  print(i+100)
  print(i**2)

110
100
120
400
130
900
140
1600
150
2500

In [ ]:

names= ['x','y','z','a']
names_copy=[]
for variables in names:
  names_copy.append(variables+'abcd')

In [ ]:
names_copy

['xabcd', 'yabcd', 'zabcd', 'aabcd']

In [ ]:

names= ['x','y','z','a']
names_copy=[]
for variables in names:
  names_copy.append(variables*3)

In [ ]:
names_copy

['x3', 'y3', 'z3', 'a3']

In [ ]:
#sort method: sorting the list
#It will sort in ascending
x=[10,20,30,40,50,70,40,60,80]
x.sort()
print(x)

[10, 20, 30, 40, 40, 50, 60, 70, 80]

In [ ]:
#It will sort the wlements in descending order
x.sort(reverse=True) #in place of true we can also use 1 anf false 0
print(x)

[80, 70, 60, 50, 40, 40, 30, 20, 10]

In [ ]:
x.sort(reverse=False)# output will be ascending
x.sort(reverse=1)#output will be descending
x.sort(reverse=1000)#descending
x.sort(reverse=-90)#descending

In [ ]:
x.sort(reverse=-90)
print(x)

[80, 70, 60, 50, 40, 40, 30, 20, 10]

In [ ]:
a=5#it will consider as true except zero ot will consider all values true
if(a):
  print(a)

5

In [ ]:
x=[100,200,300,400]#concatenate it will add element to the end of the list
y=[500,600,700,800]
print(x+y)

[100, 200, 300, 400, 500, 600, 700, 800]

In [ ]:
x=[100,200,300,400]
x*3

[100, 200, 300, 400, 100, 200, 300, 400, 100, 200, 300, 400]

In [ ]:
#QUIZ
names=["tanish","Garg","Aman","piyush"]
print(names[1][-1])

g

In [ ]:
l=["xyz","zara","Pynative"]
print(max(l))

zara

In [ ]:
geek=[1,2,3,4]
geek.append([5,6,7,8])
print(geek)

[1, 2, 3, 4, [5, 6, 7, 8]]

In [ ]:
mylist=[1,2,3,4,5,6]
pow2= [2*x for x in mylist]
print(pow2)

[2, 4, 6, 8, 10, 12]

In [ ]:
list1=[2,5,6,7]
list1[1:4]=[34,45,56]
print(list1)

[2, 34, 45, 56]

In [ ]:
year=[1998,1999]
year1=[2000,2002]
print((year+year1)*2)

[1998, 1999, 2000, 2002, 1998, 1999, 2000, 2002]